*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

header {
  padding-bottom: 4.6875em;
  nav {
    box-shadow: 0 10px 10px -10px rgb(0 0 0 / 35%);
    background-color: #202020;
    padding: 0 1.25em !important;
    .empresa {
      font-size: 1.25em;
      .icono {
        width: 3.125em;
      }
      font-weight: 500;
      font-style: italic;
    }
    .icono_carrito {
      color: rgb(255, 255, 255);
      font-size: 1.5625rem;
    }
  }
  hr {
    color: rgb(0, 0, 0);
    width: 90%;
    margin: 0.625em auto 0 auto;
  }
}

//footer
.empresa-footer {
  .icono {
    width: 5rem;
  }
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
}



//coso wapp
i {
  color: #fff;
}




// .row {
  

  .card-edit {
    width: 25% !important;
    margin: 1.25em;
  }

// }




.produc_destac {
  padding: 1.25em;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 2em 0 1em 0;
    font-size: 1.6em;
    letter-spacing: 0.5;
  }
  .card {
    margin: auto;
    width: 90% !important;
    // width: 18.75em;
  }
}

//estilos generales cards
.card {
  overflow: hidden;
  img {
    height: 12.5em;
    border-bottom: 1px solid rgba(88, 88, 88, 0.562);
    padding: 1.25em;
  }
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper-button-prev, .swiper-button-next {
  color: rgb(0, 0, 0);
}

.btn {
  box-shadow: none !important;
}

.card-body {
  overflow: hidden;
}

.contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-toggler {
  box-shadow: none !important;
  border: 0;
}

.btn-close {
  &:focus {

    box-shadow: none !important;
  }
}

.navbar-nav {
  li {
    a {
      font-size: 1.125em;
    }
  }
}

.f-color-l, .f-color-r{
  color: #fff;
  position: absolute;
  top: 11.25rem;
  z-index: 500;
  font-size: 1.25em;
  background-color: rgb(36, 36, 36);
  border-radius: 100%;
  padding: 0.625rem 0 0 0;
  width: 2.5rem;
  height: 2.5rem;
}

.f-color-r {
  right: -0.6875em;
}

.f-color-l {
  left: -1em;
}

.img-prod-carrito {
  width: 5em;
}

.cont_nomprecio {
  width: 50%;
}

.card-title {
  font-size: 1.125em;
}

.carritoNombre {
  font-size: 0.875em;
}

.carritoNombre, .carritoPrecio {
  margin-bottom: 0.3rem;
  color: #000;
}

.carrito-item {
  align-items: center;
  padding: 0 0.625em;
}

.carrito-contador {
  position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 1.25em;
    height: 1.25em;
    top: 0.9375em;
    right: 1.875em;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 700;
}



.card-carrito {
  margin: 0.625em;
  width: 100%;
  // background-color: #fff;
}


footer {
  .row {
    background-color: #202020;
    box-shadow: #000000 0px 10px 10px 8px
  }
}

.footer_hover {
    &:hover {
      color: rgb(141, 141, 141) !important;
    }
}
// .text-secondary {
 
// }

.redes-sociales {
  width: 25%;
  padding-right: 15.625em;
  .contac {
      width: 12.5em;
      margin-bottom: 0.625em;
      font-size: 1.25em;
  }
  .contenedor-redes {
      display: flex;
  }
  a {
      background-color: #2c2c2c;
      color: #fff;
      text-align: center;
      margin-right: 0.625em;
      padding: 0.625em 1.25em;
      border-radius: 3px;
      font-size: 0.9375em;
  }
  .twitter {
      &:hover {
          background-color: #1877f2;
      }
  }
  .facebook {
      &:hover {
          background-color: #1da1f2;
      }
  }
  .instagram {
      &:hover {
          background-color: #e1306c;
      }
  }
  .whatsapp {
      &:hover {
          background-color: #25d366;
      }
  }
}

.icono_whastapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.5rem;
  right: 3.125rem;
  z-index: 999999;
  font-size: 30px;
  background-color: #25d366;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #12ec62;
  }
}

// edito el aside 

aside {
  h2 {
    font-size: 1.375em;
    margin: 0.625em;
    text-align: center;
  }
  div {
    margin: 0.1875em 0 0 1.25em ;
    padding: 0.1875em;
    label {
      cursor: pointer;
    }
  }
  &:last-child {
    margin-bottom: 0.3125em;
  }
  height: fit-content;
  border: 0;
  margin-bottom: 1.875em;
  margin-top: 1.875em;
  border-radius: 0.375em;
  color: rgba(0, 0, 0, .87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 3px 1px -2px rgb(0 0 0 / 20%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
}

.contenedorFiltrado {
  display: none;
}

.progress-bar {
  background-color: #000;
}

.carousel_principal {
  img {
    height: 200px !important;
    width: 100%;
  }
  margin: auto;
}

// .progress-bar.progress-bar-striped.progress-bar-animated {
//   width: 75% !important;
// }

.contenedor_contacto {
  .form-control {
    outline: none !important;
    box-shadow: none !important;
  }
  .mensaje {
    min-height: 150px;
    max-height: 150px;
  }
  .padre_btn_form {
    display: flex;
    justify-content: center;
    .btn_form {
      max-width: 60%;
    }
  }
  .input-group-text {
    background-color: black;
    margin-right: 10px;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-style: italic;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }
  .caja {
    margin: 40px 0;
    width: 50%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.icono_error {
  font-size: 20px;
  color: #ff0000;
}

.padre_cont_errores {
  display: flex;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
.cont_errores {
  margin: auto;
  font-size: 0.875em;
}

// FOOTER











// COMPRA

.finalizarCompra {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  // padding: 2.5rem;
  .padre_cont_prods {
    width: 35%;
    margin-right: 3.125em;
    .productos_finalizarCompra {
        .producto_finalizarCompra {
          // margin-bottom: 1.25em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img {
                width: 5em;
                height: 5em;
            }
            p {
              margin: 0 !important;
              &:nth-child(3) {
                font-size: 15px !important;
              }
              &:nth-child(2) {
                font-size: 13px !important;
                text-align: center;
              }
            }
        }
    }
    hr {
      margin: 10px !important;
    }
    .cont_total {
      display: flex;
      justify-content: space-between;
    }
  }
  h1 {
      text-align: center;
      padding-top: 1em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid rgb(0, 0, 0);
      margin-bottom: 0.7em;
  }
  .datosPersonales_finalizarCompra {
    width: 50%;
      .tarjeta_finalizarCompra {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: #fff;
          padding:1.375em;
          background-color: #1b1b1b;
          border-radius: 1.25em;
          margin-bottom: 1em;
          img {
              width: 3.375em;
              margin-bottom: 1em;
          }
          label {
              margin-bottom: 0.125em;
          }
          input {
            color: #fff;
              border-top: none;
              border-left: none;
              border-right: none;
              background: none !important;
              margin-bottom: 1em;
              outline: none;
              // &:focus {
              // }
          }
          .izquierda_tarjeta {
            width: 40%;
              display: flex;
              flex-direction: column;
              input {
                  font-size: 1em;
              }
              
              input:last-child {
                  width: 15%;
              }
          }
          .derecha_tarjeta {
            width: 40%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              input {
                  width: 80%;
              }
          }
      }
  }
  
}

.cont_mensaje {
  display: flex;
  justify-content: center;
  height: 100vh !important;
  width: 100% !important;
  background: rgb(34, 34, 34);
  align-items: center;
  .compraFinalizada {
    margin-top: -9.375em;
    color: #fff;
    text-align: center;
    padding: 2.5em;
    border-radius: 5px;
    h3 {
        margin-bottom: 1.375em;
    }
    span {
        &.greenColor {
            color: #12ec62;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }
  }
}









@import "responsive.scss";